# Managed by Ansible - InfraReady NTP Client

server {{ ntp_server_ip }} iburst prefer

# Client-only mode
port 0

driftfile /var/lib/chrony/drift

{% if ntp_allow_initial_step %}
makestep 1.0 3
{% endif %}

rtcsync

keyfile /etc/chrony.keys
leapsectz right/UTC
logdir /var/log/chrony
